html {
  height: 100%;
}

body {
  height: 100%;
}

body > div {
  display: grid;
  grid-template-columns: 1fr 3fr;
  height: 100%;
}

button {
  background: none!important;
  border: none;
  cursor: pointer;
  padding: 0!important;
}

button:hover {
  text-decoration: underline;
}

html {
  height: 100%;
}

iframe {
  border: 0;
  display: block;
}

main {
  border-left: 1px solid black;
  height: 100%;
  width: 100%;
}

main > * {
  height: 100%;
  width: 100%;
}

nav {
  margin-left: 1rem;
}

section {
  overflow: auto;
  display: none;
  margin-left: 1rem;
}
