<!doctype html>
<html>
  <head>
    <meta charset=utf-8>
    <link rel=stylesheet href=app/modern-normalize.css>
    <style>
    </style>
  </head>
  <body>
    <nav>
      <h1>System</h1>
      <ul>
        <li><button id=node>Node</button></li>
      </ul>
      <h1>Network</h1>
      <ul>
        <li><button id=search>Search</button></li>
      </ul>
      <h1>Apps</h1>
      <ul>
%% for (hash, manifest) in self.packages.iter().filter(|(hash, manifest)| manifest.ty() == Type::App) {
%%   let ty = manifest.ty();
        <li>
%%   if let Some(handler) = self.handlers.get(&ty.into()) {
          <button class=package data-handler={{handler}} data-package={{hash}}>{{ manifest.name }}</button>
%%   } else {
          {{ manifest.name }}
%%   }
        </li>
%% }
      </ul>
      <h1>Content</h1>
      <ul>
%% for (hash, manifest) in self.packages.iter().filter(|(hash, manifest)| manifest.ty() != Type::App) {
%%   let ty = manifest.ty();
        <li>
%%   if let Some(handler) = self.handlers.get(&ty.into()) {
          <button class=package data-handler={{handler}} data-package={{hash}}>{{ manifest.name }}</button>
  %%   } else {
          {{ manifest.name }}
%%   }
        </li>
%% }
      </ul>
    </nav>
    <main>
      <iframe></iframe>
      <section></section>
    </main>
  </body>
</html>
